
# ALFA-BD - Analise Descritiva com Apache Spark

## Dados da predição da Fluencia de Leitura dos Alunos 

**Autor: TS#03**

### Install

- **bson.jar**: https://mvnrepository.com/artifact/org.mongodb/bson/4.3.0-beta3

In [1]:
import mysql.connector
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
appName = 'Analise Descritiva ALFA-BD'
master = 'local'
URI = 'mongodb+srv://alfa-bd-user:8BLwsb0EAifRgxtf@alfa-bd.rsksj.mongodb.net/alfabd.fluencymetrics?retryWrites=true'

In [3]:
spark = SparkSession \
    .builder \
    .appName(appName) \
    .config("spark.mongodb.input.uri", URI) \
    .config("spark.mongodb.output.uri", URI) \
    .getOrCreate()

### Conexão MySQL

In [28]:
# Establish a connection
conn = mysql.connector.connect(user='root', database='alfabd',
                               password='Pa$$word08',
                               host="localhost",
                               port=3306)

In [5]:
cursor = conn.cursor()
query = "SELECT usr_name, usr_email FROM Users WHERE usr_primary_role='STUDENT';"

# Create a pandas dataframe
students = pd.read_sql(query, con=conn)
conn.close()

In [11]:
# Convert Pandas dataframe to spark DataFrame
df = spark.createDataFrame(students)
df.show()

+--------------------+--------------------+
|            usr_name|           usr_email|
+--------------------+--------------------+
|       Isabel Farias|student12012@emai...|
|   Davi Lucas Mendes|student22012@emai...|
|   Luiz Otávio Jesus|student32012@emai...|
|    Catarina Moreira|student42012@emai...|
|      Agatha da Cruz|student52012@emai...|
|       Augusto Rocha|student62012@emai...|
|       Leandro Pires|student72012@emai...|
|        Maysa Novaes|student82012@emai...|
|Dr. Alexandre da ...|student92012@emai...|
|   Dra. Marina Ramos|student102012@ema...|
|  João Felipe da Luz|student112012@ema...|
|        André Duarte|student122012@ema...|
|        Luana da Paz|student132012@ema...|
|  Srta. Sofia Mendes|student142012@ema...|
|        Lara Rezende|student152012@ema...|
|Marcos Vinicius S...|student162012@ema...|
|    Mariane Monteiro|student172012@ema...|
|Lucas Gabriel Gon...|student182012@ema...|
|  Dr. Bernardo Gomes|student192012@ema...|
|  Maria Julia Duarte|student202012@ema...|
+--------------------+--------------------+
only showing top 20 rows

### Conexão MongoDB

In [4]:
fluencymetrics = spark.read.format("mongo").option("uri", URI).load()

In [5]:
fluencymetrics.show()

+--------------------+--------------------+-----------+--------+---------+-------+--------------------+
|                 _id|           createdAt|idProfessor|idSchool|idStudent|metrica|           updatedAt|
+--------------------+--------------------+-----------+--------+---------+-------+--------------------+
|{60ce745d793b1dbd...|2021-01-01 16:49:...|    1199521| 2084800|  1144721|   alto|2021-01-01 16:49:...|
|{60ce745d793b1dbd...|2021-01-07 16:49:...|    1199521| 2084800|  1144721|  baixo|2021-01-07 16:49:...|
|{60ce745d793b1dbd...|2021-01-14 16:49:...|    1199521| 2084800|  1144721|   alto|2021-01-14 16:49:...|
|{60ce745d793b1dbd...|2021-01-28 16:49:...|    1199521| 2084800|  1144721|   alto|2021-01-28 16:49:...|
|{60ce745d793b1dbd...|2021-02-01 16:49:...|    1199521| 2084800|  1144721|  baixo|2021-02-01 16:49:...|
|{60ce745d793b1dbd...|2021-02-07 16:49:...|    1199521| 2084800|  1144721|   alto|2021-02-07 16:49:...|
|{60ce745d793b1dbd...|2021-02-14 16:49:...|    1199521| 2084800|  1144721|  baixo|2021-02-14 16:49:...|
|{60ce745d793b1dbd...|2021-02-28 16:49:...|    1199521| 2084800|  1144721|  medio|2021-02-28 16:49:...|
|{60ce745d793b1dbd...|2021-03-01 16:49:...|    1199521| 2084800|  1144721|  medio|2021-03-01 16:49:...|
|{60ce745d793b1dbd...|2021-03-07 16:49:...|    1199521| 2084800|  1144721|  baixo|2021-03-07 16:49:...|
|{60ce745d793b1dbd...|2021-03-14 16:49:...|    1199521| 2084800|  1144721|   alto|2021-03-14 16:49:...|
|{60ce745d793b1dbd...|2021-03-28 16:49:...|    1199521| 2084800|  1144721|  medio|2021-03-28 16:49:...|
|{60ce745d793b1dbd...|2021-04-01 16:49:...|    1199521| 2084800|  1144721|   alto|2021-04-01 16:49:...|
|{60ce745d793b1dbd...|2021-04-07 16:49:...|    1199521| 2084800|  1144721|  baixo|2021-04-07 16:49:...|
|{60ce745d793b1dbd...|2021-04-14 16:49:...|    1199521| 2084800|  1144721|  baixo|2021-04-14 16:49:...|
|{60ce745d793b1dbd...|2021-04-28 16:49:...|    1199521| 2084800|  1144721|  medio|2021-04-28 16:49:...|
|{60ce745d793b1dbd...|2021-05-01 16:49:...|    1199521| 2084800|  1144721|  baixo|2021-05-01 16:49:...|
|{60ce745d793b1dbd...|2021-05-07 16:49:...|    1199521| 2084800|  1144721|  medio|2021-05-07 16:49:...|
|{60ce745d793b1dbd...|2021-05-14 16:49:...|    1199521| 2084800|  1144721|   alto|2021-05-14 16:49:...|
|{60ce745d793b1dbd...|2021-05-28 16:49:...|    1199521| 2084800|  1144721|  medio|2021-05-28 16:49:...|
+--------------------+--------------------+-----------+--------+---------+-------+--------------------+
only showing top 20 rows