
# ALFA-BD - Analise Descritiva com Apache Spark

## Dados da predição da Fluencia de Leitura dos Alunos 

**Autor: TS#03**

In [1]:
from pyspark.sql import SparkSession, functions

In [2]:
appName = 'Analise Descritiva ALFA-BD'
master = 'local'
URI = 'mongodb+srv://alfa-bd-user:8BLwsb0EAifRgxtf@alfa-bd.rsksj.mongodb.net/alfabd.fluencymetrics?retryWrites=true&w=majority'

In [3]:
spark = SparkSession \
    .builder \
    .appName(appName) \
    .config("spark.mongodb.input.uri", URI) \
    .config("spark.mongodb.output.uri", URI) \
    .getOrCreate()

### Conexão MongoDB

In [4]:
fm = spark.read.format("mongo").option("uri", URI).load()

In [5]:
fm.show()

+--------------------+--------------------+-----------+--------+---------+-------+
|                 _id|           createdAt|idProfessor|idSchool|idStudent|metrica|
+--------------------+--------------------+-----------+--------+---------+-------+
|{60d5479014bfca7b...|2020-12-31 21:03:...|      57602|       1|     2802|   alto|
|{60d5479014bfca7b...|2021-01-06 21:03:...|      57602|       1|     2802|  baixo|
|{60d5479014bfca7b...|2021-01-13 21:03:...|      57602|       1|     2802|   alto|
|{60d5479014bfca7b...|2021-01-27 21:03:...|      57602|       1|     2802|  medio|
|{60d5479014bfca7b...|2021-01-31 21:03:...|      57602|       1|     2802|   alto|
|{60d5479014bfca7b...|2021-02-06 21:03:...|      57602|       1|     2802|  baixo|
|{60d5479014bfca7b...|2021-02-13 21:03:...|      57602|       1|     2802|  baixo|
|{60d5479014bfca7b...|2021-02-27 21:03:...|      57602|       1|     2802|   alto|
|{60d5479014bfca7b...|2021-02-28 21:03:...|      57602|       1|     2802|  medio|
|{60d5479014bfca7b...|2021-03-06 21:03:...|      57602|       1|     2802|  baixo|
|{60d5479014bfca7b...|2021-03-13 21:03:...|      57602|       1|     2802|   alto|
|{60d5479014bfca7b...|2021-03-27 21:03:...|      57602|       1|     2802|  baixo|
|{60d5479014bfca7b...|2021-03-31 21:03:...|      57602|       1|     2802|   alto|
|{60d5479014bfca7b...|2021-04-06 21:03:...|      57602|       1|     2802|  medio|
|{60d5479014bfca7b...|2021-04-13 21:03:...|      57602|       1|     2802|   alto|
|{60d5479014bfca7b...|2021-04-27 21:03:...|      57602|       1|     2802|  medio|
|{60d5479014bfca7b...|2021-04-30 21:03:...|      57602|       1|     2802|  baixo|
|{60d5479014bfca7b...|2021-05-06 21:03:...|      57602|       1|     2802|  baixo|
|{60d5479014bfca7b...|2021-05-13 21:03:...|      57602|       1|     2802|  medio|
|{60d5479014bfca7b...|2021-05-27 21:03:...|      57602|       1|     2802|  baixo|
+--------------------+--------------------+-----------+--------+---------+-------+
only showing top 20 rows

In [6]:
fm.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- createdAt: timestamp (nullable = true)
 |-- idProfessor: integer (nullable = true)
 |-- idSchool: integer (nullable = true)
 |-- idStudent: integer (nullable = true)
 |-- metrica: string (nullable = true)

In [7]:
fm.count()

1382400

## Métricas por Escola

In [28]:
df = fm.groupBy(['idSchool', 'metrica']).count()

In [27]:
df.show()

+--------+-------+-----+
|idSchool|metrica|count|
+--------+-------+-----+
| 2084813|   alto| 3789|
| 2084835|  medio| 3857|
| 2084833|   alto| 3859|
| 2084855|   alto| 3856|
| 2084864|   alto| 3820|
| 2084882|   alto| 3879|
| 2084848|  medio| 3846|
| 2084840|  baixo| 3919|
| 2084852|  medio| 3784|
| 2084853|  baixo| 3783|
| 2084817|   alto| 3842|
| 2084823|  baixo| 3794|
| 2084847|  medio| 3857|
| 2084896|  baixo| 3832|
| 2084846|   alto| 3850|
| 2084848|  baixo| 3843|
| 2084865|  medio| 3775|
| 2084877|   alto| 3834|
| 2084831|   alto| 3829|
| 2084823|  medio| 3903|
+--------+-------+-----+
only showing top 20 rows

### Salva no Banco

In [8]:
df = fm.groupBy(['idSchool', 'metrica']).count()

In [9]:
df.write.format("mongo").mode("append").option("uri", URI).option("database", "alfabd").option("collection", "countmetrics").save()

## Métricas por Dia e Escola

In [10]:
fm = fm.withColumn("date", functions.to_date(functions.col("createdAt"),"yyyy-MM-dd"))

In [42]:
fm.groupBy(['idSchool', 'date', 'metrica']).count().show()

+--------+----------+-------+-----+
|idSchool|      date|metrica|count|
+--------+----------+-------+-----+
| 2084803|2021-01-28|   alto|  144|
| 2084804|2021-05-28|   alto|  154|
| 2084805|2021-05-14|  baixo|  173|
| 2084809|2021-03-28|  baixo|  173|
| 2084809|2021-05-01|  baixo|  166|
| 2084809|2021-01-28|   alto|  183|
| 2084819|2021-01-28|  medio|  162|
| 2084819|2021-05-07|   alto|  155|
| 2084822|2021-01-01|   alto|  159|
| 2084828|2021-06-01|  baixo|  148|
| 2084828|2021-01-14|   alto|  149|
| 2084835|2021-03-07|  baixo|  150|
| 2084839|2021-04-07|  baixo|  156|
| 2084841|2021-05-01|   alto|  150|
| 2084841|2021-06-14|  baixo|  162|
| 2084843|2021-05-28|  medio|  146|
| 2084859|2021-02-28|  baixo|  168|
| 2084861|2021-03-01|   alto|  157|
| 2084865|2021-03-07|   alto|  183|
| 2084866|2021-01-01|  medio|  174|
+--------+----------+-------+-----+
only showing top 20 rows

### Salva no Banco

In [11]:
df = fm.groupBy(['idSchool', 'date', 'metrica']).count()

In [12]:
df.write.format("mongo").mode("append").option("uri", URI).option("database", "alfabd").option("collection", "datemetrics").save()